{% extends 'base.html.twig' %}

{% block body %}
    <h2>Student Details</h2>
    {% for student in students %}
        <h4>Name: {{ student.name }}</h4>

        <h4>Address</h4>
        <p>Street: {{ student.address.lot }}</p>
        <p>City: {{ student.address.city }}</p>
        <p>Zip Code: {{ student.address.cp }}</p>

        <h4>Contact</h4>
        <p>Email: {{ student.contact.email }}</p>
        <p>Phone: {{ student.contact.phone }}</p>
        <p>Phone: {{ student.contact.linkedin }}</p>

        <h4>Experiences</h4>
        <ul>
            {% for experience in student.experiences %}
                <li>
                    <p>Start Date: {{ experience.startDate|date('Y-m-d') }}</p>
                    <p>End Date: {{ experience.endDate != 'N/A' ? experience.endDate|date('Y-m-d') : 'N/A' }}</p>
                    <p>Post: {{ experience.post }}</p>
                </li>
            {% endfor %}
        </ul>

        <a href="{{ path('app_student_show', {'uid': student.uid}) }}">show</a>
        <a href="{{ path('app_student_edit', {'uid': student.uid}) }}">edit</a>

        <hr>
    {% endfor %}

    <a href="{{ path('app_student_index') }}">Back to list</a>

    <a href="{{ path('app_student_new') }}">Create new</a>
{% endblock %}
