{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-3">
    <h2 class="mb-4">Manage Students</h2>
    <div class="d-flex justify-content-between mb-3">
        <div>
            <a href="{{ path('app_student_index') }}" class="btn btn-secondary">Back to list</a>
            <a href="{{ path('app_student_new') }}" class="btn btn-primary">Create new</a>
        </div>
    </div>

    <div class="row">
        {% for student in students %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ student.name }}</h5>
                        <ul class="list-unstyled">
                            <li><strong>Lot:</strong> {{ student.address.lot }}</li>
                            <li><strong>City:</strong> {{ student.address.city }}</li>
                            <li><strong>CP:</strong> {{ student.address.cp }}</li>
                            <li><strong>Email:</strong> {{ student.contact.email }}</li>
                            <li><strong>Linkedin:</strong> {{ student.contact.linkedin }}</li>
                            <li><strong>Phone:</strong> {{ student.contact.phone }}</li>
                        </ul>

                        <h6>Experiences:</h6>
                        <ul>
                            {% for experience in student.experiences %}
                                <li>
                                    {{ experience.startDate|date('Y-m-d') }} -
                                    {{ experience.endDate != 'N/A' ? experience.endDate|date('Y-m-d') : 'N/A' }}
                                    {{ experience.post }}
                                </li>
                            {% endfor %}
                        </ul>

                        <h6>Educations:</h6>
                        <ul>
                            {% for education in student.educations %}
                                <li>
                                    {{ education.date|date('Y-m-d') }} - {{ education.diploma }}
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="text-right">
                            <a href="{{ path('app_student_show', {'uid': student.uid}) }}" class="btn btn-info">Show</a>
                            <a href="{{ path('app_student_edit', {'uid': student.uid}) }}" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}